extends layout

block content
  h1 Submit your files

  form(action="myupload" method="post" enctype="multipart/form-data")
      input(type="file" name="myfiles" accept=".png" multiple)
      input(type="submit" value="Upload Files")
